<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%extends 'indexAmal.html'%}
{%load static%}
{%block content%}
<style>
    #myprofile{
  margin-left: 0rem;
}
.container{
  max-width: 400px;
  border-radius:20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  padding: 5vh;
}
</style>
<label id="myprofile">ASSIGNED TASKS</label>
<div class="container shadow bg-white">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h5>Task assigned succesfully</h5>
    </div>
    <div class="col-lg-6 col-md-6">
      <img src="{% static 'Group1.png' %}" width="100" height="100" class="imgsuc ml-5">
    </div>
  </div>
</div>




  

</body>
</html>
{%endblock%}