{% extends 'adwaith_index.html'%}
{% block content %}
      {% load static %}

<style>
    #myprofile{
  margin-left: 0rem;
}
#firstbox{
  background-color: white;
  height: 300px;
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  margin-top: 30px;
  text-align: center;
}
#firstbox div{
  float: left;
}
#firstbox label{
  margin-left: 120px;
  padding-top: 14px;
  color: #58B7AA;
  font-weight: 400;
  font-size: 20px;
  margin-top: 28px;
  width: 200px;
}
.col span{
  color: #58B7AA;
  width:200px;
  float: left;
  font-size: 20px;
}
#firstbox .col{
  float: left;

}

.col h5{
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;

}
#fea{
  font-weight: 400;
  font-size: 28px;
  margin-top: -5px;

}
.Search{
  margin-top: 10%;
  float: right;
  margin-right: 12%;
  padding-left: 3%;
  padding-right: 3%;


}
@media(max-width:61.938em){

  #firstbox{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

  </style>

<div><label id="myprofile">SERVICES</label>
<div id="firstbox" class="shadow p-3 bg-white">
    {% for s in services %}
  <div class="col">
    <h5><span>Service</span>{{ s.service }}</h5>
  </div><br><br>
  <div class="col">
    <h5><span>Payment</span>{{ s.payment }}</h5>
  </div><br><br><br>
  <div class="col">
    <h5><span>Description </span>{{ s.des }}</h5>
 

   <a href="MANmarkServiceDetailsShare?buttnid={{ s.id }}"><button type="button" class="btn btn-primary Search " style="margin-top: 30px;">Assign</button></a>
    {% endfor %}
  </div>
</div>
</div>
</body>
</html>

{% endblock %}